extends ../common/layout
block content
	div(id='bodycontainer')
		div(class='container')
			form(class='form-horizontal',method='post',action='/login')
				div(class='login-form')
					div(class='form-group')
						input(type='text' class='form-control login-field' name='account' value='' placeholder='注册邮箱' id='_account')
						label(class='login-field-icon fui-user' for='login-name')
					div(class='form-group')
						input(type='password' class='form-control login-field' name='password' value='' placeholder='密码' id='_password')
						label(class='login-field-icon fui-lock' for='login-pass')
					button(class='btn btn-info btn-lg btn-block' type='submit') 登陆
					a(class='login-link' href='') 忘记密码?
	include ../common/footer
		