section
    h4 Tags
    div
        div(id='tags')
            for item in tags
                a(href='/tag/#{item.text}' id='tag' rel='#{item.value}') #{item.text}
section
    h4 Links
    div
        div
            span Email:
                a(href="mailto:gao_chenfei@163.com") gao_chenfei@163.com
        div
            span Weibo:
                a(href="http://weibo.com/u/2091981127") _Mirana_
        div
            span Github:
                a(href="https://github.com/flex1988") flex1988
script.
    $.fn.tagcloud.defaults = {
    size: {start: 8, end: 24, unit: 'pt'},
    color: {start: '#009900', end: '#000033'}
    };
    $(function () {
    $('#tags a').tagcloud();
    });