div(class='footer')
	div(class='links')
		a(class='dark') FAQ
		span(class='dark') |
		a(class='dark' href='https://github.com/flex1988/Node_blog_V2') Github
		span(class='dark') |
		a(class='dark') RSS
	div(class='dark')
		b @blog 基于Node.js+mongodb. All Rights Reserved.