header
    div(id="logo")
        img(src="/image/logo.png")
    nav(id="nav-menu")
        ul
            for item in config.navs
                li
                    a(href='#{item.href}') #{item.text}
