doctype html
html
  head
    title #{config.webtitle} | #{title} 
    meta(content='text/html;charset=utf-8',http-equiv='Content-Type')
    meta(name="author",content="flex")
    meta(name='viewport' content='width=1100, initial-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet',href='/css/flat-ui.css')
    link(rel='stylesheet',href='/css/blog.css')
    link(rel='stylesheet',href='/css/ui-dialog.css')
    link(rel='stylesheet',href='/css/editor.css')
    link(rel='icon',href='/images/favicon.ico',type='image/x-icon')
    script(src='/javascripts/jquery-1.10.2.min.js')
    script(src='/javascripts/user/artDialog.min.js')
    script(src='/javascripts/user/editor.js')
    script(src='/javascripts/user/marked.js')
  body
    include topbar
    block content