doctype html
html
  head
    title #{title}|#{config.webtitle}
    meta(content='text/html;charset=utf-8',http-equiv='Content-Type')
    meta(name="author",content="flex")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet',href='/stylesheets/app.css')
    link(rel='stylesheet',href='/stylesheets/solarized_dark.css')
    link(rel='icon',href='/images/favicon.ico',type='image/x-icon')
    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/tagcloud.js')
    script(src='/js/highlight.pack.js')
    script(src='/bower_components/modernizr/modernizr.js')
    script(type='text/javascript').
        $(document).ready(function() {
          $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
          });
        });
  body(class='home page page-id-1116 page-template page-template-page-home-php gecko white')
    div(id="wrap" class="clearfix")
        include topbar
        block content
