div(class='panel')
	div(class='panel_title') 
		span 标签云
	div(class='panel_content')
		div(id='tags')
			for item in tags
				a(href='/tag/#{item.text}' id='tag' rel='#{item.value}') #{item.text}
div(class='panel')
	div(class='panel_title') 
		span 档案馆
	div(class='panel_content')
		div(class='blog_archive')
			a(href='/') 2014年9月
div(class='panel')
	div(class='panel_title') 
		span 友情链接
	div(class='panel_content')
		div
			span 请联系我weixin:yishushuyitian
script.
	$.fn.tagcloud.defaults = {
	  size: {start: 8, end: 24, unit: 'pt'},
	  color: {start: '#009900', end: '#000033'}
	};

	$(function () {
	  $('#tags a').tagcloud();
	});