div(id="header" class="clearfix")
	div(id="logo")
		h1
			a
				img(src="/image/logo.png")
	div(id="navigation" class="shadow clearfix")
		div(id="nav-left")
			div(class="menu-top-container")
				ul(id="menu-top" class="menu")
					if(pageData.is_login)
						for item in config.usernavs
							li(class="menu-item")
								a(href='#{item.href}') #{item.text}
					else
						for item in config.guestnavs
							li(class="menu-item")
								a(href='#{item.href}') #{item.text}
		div(id="nav-right")
			div(class="menu-social-container")
				ul(id="menu-social" class="menu")
					li(id="github" class="menu-item")
						span(class='icon-douban')
