.loginForm {
    margin: 200px 100px 200px 100px;
    max-width: 500px;
}
.previousBtn {
    float: right;
    padding: 10px;
}
.editor {
    min-height: 600px;
    margin: 0 0 0 100px;
}
.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 400px;
    height: 300px
}
#articleModal {
    margin: 100px 0 0 0;
}
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}
