.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}

body
{
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
  background-color: #e2e2e2;
}

.alert{
  color: #FF0000;
  text-align: center;
}
.panel{
  border:2px solid;
  border-color: 34495e;
  position:relative;
  padding: 2px;
}
.inner{
  padding: 10px;
}
.user_avatar{
  float: right;
}
.username{
  margin-right: 10px;
  float: right;
}
.blog_row{
  margin: 0 auto;
  background-color: #FFF;
  margin-top: 1px;
  border-radius: 2px;
}
.content li{
  border-bottom:3px solid #eee;
  padding-bottom:10px;
  margin-bottom:10px
}
.blog_top {
  font-size: 14px;
  line-height: 100%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
  float: left;
  width: 600px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.blog_top img {
  box-shadow: 0 0 6px hsla(0, 27%, 42%, .5);
  width: 40px;
  height: 40px;
  max-width: 100%;
  vertical-align: middle;
  margin: 0 10px 0 0;
  border: 0;
}
.blog_top img:hover{
  box-shadow: 0 0 8px hsla(350, 89%, 48%, 0.69);
}
.blog_top a {
  color: #9b8878;
}
.blog_top h6{
  margin: 0 auto;
}
.blog_top a:hover {
  color: #300;
}

.blog_title{
  width: 600px;
  height: 40px;
  max-width: 100%;
  margin-left: 40px;
  color:#330019 !important;
  font-weight: 600;
  line-height: 40px;
}

.blog_content {
  word-break: break-all;
  line-height: 160%;
  text-indent:40px;
  padding-left: 40px;
  padding-right: 40px;
  clear: both;
}

.blog_content p{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.blog_btm {
  margin: 15px 0 0 0;
  height: 30px;
  font-size: 12px;
}

.blog_btm ul{
  list-style-type: none;
}
.blog_btm ul li {
  float: left;
}

.blog_btm ul li a {
  display: block;
  height: 28px;
  line-height: 30px;
  margin-right: 10px;
  text-indent: 20px;
  color: #BEBEBE;
  width: 80px;
  font-weight: 500;
}

.blog_btm ul li a:hover {
  color: #9e8c7b;
}

.blog_btm_comm {
  float: right;
  margin: 0;
  padding: 0;
}

.blog_btm_comm li {
  float: left;
}
.btm_pagbar{
  clear: both;
  margin-top: 0px;
  margin-bottom: 0px;
}
.cell_share {
  float: right;
}

.title_input{
  min-width: 800px;
}
.btn-toolbar{
  margin-top: 2px;
}
.content_input{
  margin-top: 2px;
  min-width: 600px;
  min-height: 300px;
  width: 800px;
  height: 400px;
  max-width: 900px;
  max-height: 500px;
}

.login-title{
  left: 300px;
  position: absolute;
  top: 100px;
  width: 500px;
}

a{
  text-decoration: none;#c3c6c9
}

.search-button{
  background-color: #34495e;
}
.navbar-inverse{
  border-radius: 0px;
}
.header{
color: #fff;font-size: 14px;text-align: center;padding: 5px 0px 0px 0px;background-color:#34495e;height:40px;border:2px solid;
border-radius:5px;
}

.content{
  margin: 70px auto 90px auto;
  position: relative;
  height: 500px;
  border-radius: 2px;
}
.content h1 strong{
  font-size: 12px;
  color: #fff;
  background-color: #4d5363;
  margin: -10px 0px 0px 0px;
  padding: 4px 10px;
  float: right;
  border-radius: 5px;
}
.footer{
  height:80px;
  width: 100%;
  color: #fff;
  bottom: 0;
  position: absolute;
  padding: 20px 0px 0px 0px;
  text-align: center;
  background-color:#34495e;
}
.footer b{
  font-weight: normal;
  font-size: 13px;
  color: #fff;
}
.dark{
  overflow:hidden;
  text-overflow:ellipsis;
  text-decoration:none;
  color:#666;
  font-size:14px
}
.login-form{
  width:400px;
  height: 250px;
  margin: auto;
  margin-top: 20%;
  vertical-align: center;
  background-color: #2980B9;
}
.navbar_config{
  margin-top: 150px;
}
.msg_panel{
  height: 700px;
  clear: both;
}
.editor-wrapper{
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  min-height: 600px;
  padding:10px;
  background-color: #ECF0F1;
}
#main{
  margin: 0px 290px 0px 0px;
}
#rightbar{
  float: right;
  width: 270px;
  height: 300px;
  margin: 0px auto 0px auto;
}



