extends ../common/layout
block content
	div(class='row wrapper')
		div(class='editor-wrapper')
			input(id='blog_title' class='title' type='text' placeholder='标题')
			textarea(class='blog_editor')
	include ../common/footer
	script.
		var editor=new Editor();
		editor.render();
