doctype html
html(ng-app='blogManagePage')
  head
    meta(charset='utf-8')
    |     
    title blog manager
    |     
    link(rel='stylesheet', href='admin/css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='admin/css/style.css')
  body
    div(ng-view='')
    |     
    script(src='admin/js/jquery.min.js')
    |     
    script(src='admin/js/angular.min.js')
    |     
    script(src='//code.angularjs.org/1.2.20/angular-route.js')
    |     
    script(src='//code.angularjs.org/1.2.13/angular-cookies.js')
    |     
    script(src='admin/js/bootstrap.min.js')
    |     
    script(src='admin/js/ui-bootstrap.js')
    |     
    script(src='admin/js/app.js')
    |     
    script(src='admin/modules/authentication/service.js')
    |     
    script(src='admin/modules/authentication/controller.js')
    |     
    script(src='admin/modules/main/controller.js')
    |     
    script(src='admin/modules/main/service.js')
    |     
    script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js')
    |     
    script(src='admin/js/ui-ace.js')
