extends ./common/layout
block content
	div(class='container')
		div(class='content')
			div(id='leftbar')
			div(id='rightbar')
			div(id='main')
				if(articles)
					for item in articles
						div(class='blog_row')
							div(class='blog_top')
								span(class='blog_title')
									a(href='') #{item.blog_title}
							div(class='blog_content')
								p !{item.blog_content}
							div(class='blog_btm')
								ul
									a(href='' id='blog_author') #{item.author_name}
									a(href='' id='blog_commit') 评论（0）
									a(href='' id='blog_date') 发表时间   #{item.blog_longth}
	include common/footer
	