extends ./common/layout
block content
	div(id='bodycontainer')
		div(id='content')
			div(id='leftbar')
			div(id='rightbar')
			div(id='main')
				if(articles)
					for item in articles
						div(class='blog_row')
							div(class='blog_top')
								span(class='blog_title')
									a(href='blog/#{item.blogId}') #{item.blog_title}
							div(class='blog_btm')
								ul
									a(href='' id='blog_author') #{item.author_name}
									a(href='' id='blog_commit') 浏览（0）
									a(href='' id='blog_commit') 评论（0）
									a(id='blog_date') #{item.blog_longth}
	include common/footer
	