extends ./common/layout
block content
	div(class='container')
		div(class='content')
			div(id='leftbar')
			div(id='rightbar')
			div(id='main')
				div(class='blog_row')
					div(class='blog_top')
					div(class='blog_content')
					div(class='blog_btm')
	include common/footer
	